*{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    /* HangHoa.php CSS*/
  /* Thêm kiểu tùy chỉnh ở đây */
  img.product {
    max-width: 100px;
    height: auto;
}

.table {
    border-collapse: separate;
    border-spacing: 0 10px; /* Tạo khoảng cách giữa các hàng */
}

.table td,
.table th {
    border: 1px solid #dee2e6;
    vertical-align: middle; /* Canh giữa nội dung trong các ô */
    padding: 10px; /* Khoảng cách giữa nội dung và biên */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng bóng */
}
.btn-edit {
    background-color: #17a2b8; /* Màu nền */
    border-color: #17a2b8; /* Màu viền */
    color: #fff; /* Màu chữ */
}

.btn-delete {
    background-color: #dc3545; /* Màu nền */
    border-color: #dc3545; /* Màu viền */
    color: #fff; /* Màu chữ */
}
  /* HangHoa.php CSS*/
  .sidebar-collapsed {
    width: 50px; /* Độ rộng mới của sidebar sau khi thu hẹp */
}


    #salesChartContainer {
        position: relative;
        width: 800px;
        height: 400px;
    }

    /* Tạo đường cong mềm mại */
    .chartjs-line-chart {
        overflow: visible; /* Đảm bảo phần dư của các điểm dữ liệu không bị cắt bỏ */
    }

    /* Dấu hiệu dạng hình tròn tại các điểm dữ liệu */
    .chartjs-line-chart .chartjs-point {
        background-color: #ffffff;
        border: 2px solid #3498db;
        border-radius: 50%; /* Biến nó thành hình tròn */
        width: 8px;
        height: 8px;
    }

    /* Tạo đường cong mềm mại */
    .chartjs-line-chart .chartjs-line {
        fill: none; /* Loại bỏ màu nền */
        stroke-width: 2px; /* Độ dày của đường */
        stroke-linecap: round; /* Đầu của đường cong là hình tròn */
        stroke: #3498db; /* Màu sắc của đường */
    }

